<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <link data-require="jasmine@2.0.0" data-semver="2.0.0" rel="stylesheet" href="//cdn.jsdelivr.net/jasmine/2.0.0/jasmine.css" />
    <script data-require="jasmine@2.0.0" data-semver="2.0.0" src="//cdn.jsdelivr.net/jasmine/2.0.0/jasmine.js"></script>
    <script data-require="jasmine@2.0.0" data-semver="2.0.0" src="//cdn.jsdelivr.net/jasmine/2.0.0/jasmine-html.js"></script>
    <script data-require="jasmine@2.0.0" data-semver="2.0.0" src="//cdn.jsdelivr.net/jasmine/2.0.0/boot.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-mocks.js"></script>

    <script src="AppInfo/AppInfoModule.js"></script>
    <script src="AppInfo/AppInfoController.js"></script>

    <link rel="stylesheet" href="style.css" />
    <xscript src="AppInfo/AppInfoController.spec.js"></script>
    <script src="AppInfo/AppInfoModule.spec.js"></script>
    <title>Empty AngularJS + Jasmine </title>
  </head>

  <body>
    <footer class="footer">
      <div class="container">
        <br />
        <a href="https://twitter.com/carlobonamico">@carlobonamico</a>
      </div>
    </footer>
  </body>

</html>
